.section {
  padding: 60px 0;
  background: #fff;
}
.title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  color: #000;
  margin-bottom: 28px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.card {
  grid-column: span 4;
  background: #fafafa;
  padding: 24px;
  width: 100%;
  height: 208px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
}
.card:nth-child(4) {
  grid-column: 4 / span 4;
}
.card:nth-child(5) {
  grid-column: 8 / span 4;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #e68d19;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}
.cardTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #181d27;
  margin: 0 0 6px;
}
.cardText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #535862;
}
.cardBody {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card,
  .card:nth-child(4),
  .card:nth-child(5) {
    grid-column: 1 / -1;
  }
}
