.hero {
  background: url("../../assets/images/ma2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  min-height: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header {
  position: relative; /* for absolute logo positioning */
  box-sizing: border-box;
  padding-top: 40px;
  // background: linear-gradient(243deg, #202353 0%, #2d3066 38.2%, #949fc0 100%);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBoxLogo {
  position: absolute;
  top: 40px;
  left: 24px;

  img {
    width: 103px;
    height: 38px;

    display: block;
  }
}

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

.logo img {
  width: auto;
  display: block;
}

.heroImg {
  display: none;
}

.content {
  max-width: 609px;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  padding: 10px 14px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);

  width: fit-content;

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #e68d19;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
}

.bigNumber {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #e68d19;
  margin: 12px 0;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
}

.cta {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 79px;
  padding: 16px 0px;

  background: #202353;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 67%;
  letter-spacing: 0.01em;
  color: #fff;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    padding-top: 8px; /* reduce top gap */
    padding-bottom: 24px;
  }

  .hero {
    background: url("/src/assets/images/mobileAlt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
    min-height: 680px;
    height: 100%;
  }
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0; /* avoid extra space between image and card */
  }

  .leftBox {
    max-width: none;
    width: 100%;
    height: 420px;
    background: none; /* use <img> on mobile */
    position: relative;
    z-index: 1;
  }

  .content {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 24px;
    width: 100%;

    background: #fafafa;
    margin-top: -12px; /* lighter overlap */
    align-items: center;
    text-align: center;
    gap: 21px;
    position: relative;
    z-index: 2; /* keep card above image */
  }

  .heroImg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }

  .leftBoxLogo {
    top: 16px;
    left: 16px;
    width: 88px;
    height: auto;
  }

  .badge {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #e68d19;
    border: 0.63px solid rgba(230, 141, 25, 0.1);
    border-radius: 63px;
    padding: 5px 12px;

    background: rgba(230, 141, 25, 0.1);
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #202353;
  }

  .subtitle {
    font-size: 24px;
    line-height: 120%;
    color: #202353;
  }

  .cta {
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    padding: 18px 0;
  }
}
