.section {
  padding: 80px 0;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.text {
  max-width: 600px;
  width: 100%;
}

.badge {
  display: flex;
  align-items: center;

  gap: 11px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #e68d19;
}

.badge::before,
.badge::after {
  content: "";
  display: block;
  width: 26px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.7;
}

.title {
  margin-top: 14px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  color: #000;
}

.subtitle {
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 145%;
  color: #97999d;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  border: 1px solid #97999d;
  border-radius: 8px;
  padding: 12px 16px;
  width: 450px;
  height: 56px;
  background: #fff;
}

.button {
  margin-top: 4px;
  border: none;
  border-radius: 8px;
  padding: 16px 41px;
  width: 450px;
  height: 56px;
  background: #323d66;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #fff;
}

@media (max-width: 900px) {
  .wrap {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  .input {
    width: 100%;
  }
}
