.section {
  padding: 60px 0;
  background: #f2f6fb;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.media {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.photo {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  display: block;
}

.captionTop {
  position: absolute;
  left: 20px;
  bottom: 54px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: 0.01em;
  color: #fff;
}

.captionName {
  position: absolute;
  left: 20px;
  bottom: 24px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #fff;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 162%;
  color: #2d3066;
  margin-bottom: 16px;
}

.list {
  display: grid;
  row-gap: 14px;
 
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #2a2a2a;

  li {
    display: flex;
   
    gap: 10px;
  }
}

@media (max-width: 900px) {

 
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: center;
  }
  .media {
 
  }
  .content {
  width: 100%;
 
  }
}
